set nocompatible
set number
colo desert
set hlsearch
syn on
set nocp
set formatoptions-=tc
inoremap " ""<left>
inoremap ' ''<left>
inoremap ( ()<left>
inoremap [ []<left>
inoremap { {}<left>
inoremap {<CR> {<CR>}<ESC>O
inoremap {;<CR> {<CR>};<ESC>O
set autoindent
set tabstop=4
set expandtab
set ruler
set tabpagemax=100
autocmd BufNewFile,BufRead *.dofile set filetype=cpp
autocmd BufNewFile,BufRead *.testproc set filetype=cpp
autocmd BufNewFile,BufRead *.swl set filetype=cpp
autocmd BufNewFile,BufRead *.sgdc set filetype=cpp
autocmd BufNewFile,BufRead *.stcl set filetype=tcl
autocmd BufNewFile,BufRead *.hdl set filetype=perl
" resoultion: 1080p, lines: 45, columns: 125
" resolution: 1440p, lines: 75, columns: 190
set lines=75 columns=190
set showmatch
ca fp echo expand('%:p')
